<style>
    ul,
    li,
    a {
        text-decoration: none;
        text-transform: none;
        list-style: none;
    }
</style>
<ul>
    <li>
        <a href="NashTech/Rookies/ListMaleMember" target="_blank ">
            List Male Member
        </a>
    </li>
    <li>
        <a href="/Rookies/ListOldestMember" target="_blank">
            List OldestAge Member
        </a>
    </li>
    <li>
        <a href="/Rookies/ListFullNameMember" target="_blank">
            List FullName Member
        </a>
    </li>
    <li>
        <a href="#" target="_blank">
            List Member
            <ul>
                <li>
                    <a href="/Rookies/ListMember" target="_blank">
                        List of members who has birth year is 2000.
                    </a>
                </li>
                <li>
                    <a href="/Rookies/ListMemberGreater" target="_blank">
                        List of members who has birth year greater than 2000.
                    </a>
                </li>
                <li>
                    <a href="/Rookies/ListMemberLess" target="_blank">
                        List of members who has birth year less than 2000.
                    </a>
                </li>
            </ul>

        </a>
    </li>
    <li>
        <a href="/Rookies/Export" target="_blank">
            Dowload List Persons
        </a>
    </li>
</ul>
