.news {
    justify-content: center;
    align-items: center;
    display: flex;

    .new {
        width: 50%;
        display: flex;

        .newContainer {
            flex: 6;
            justify-content: center;
            align-items: center;
            .top,
            .bottom {
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 10px;
                margin: 20px;
                display: flex;
                padding-bottom: 10px;

                h1 {
                    color: lightgray;
                    font-size: 20px;
                }

                .right {
                    flex: 2;

                    form {
                        display: block;
                        flex-wrap: wrap;
                        gap: 30px;

                        .formInput {
                            width: 100%;
                            padding-left: 70px;
                            label {
                                display: flex;
                                align-items: center;
                                margin-bottom: 10px;
                                gap: 10px;
                                .icon {
                                    cursor: pointer;
                                }
                            }
                            input {
                                width: 80%;
                                padding: 15px;
                                margin-bottom: 30px;
                                // border: none;
                                // border-bottom: 1px solid gray;
                            }
                        }
                    }
                }
            }
        }
    }
}
